<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="narrative.css"/>
	</head>
	<body>
<!--*/-->

<div th:with="section=${#strings.arraySplit(#strings.arraySplit(resource.meta.profile.get(0).value, '/')[#arrays.length(#strings.arraySplit(resource.meta.profile.get(0).value, '/')) - 1], '-')[0]}">
	<div th:replace=" :: ${section} (entryList=${resource.entry})">Page Content</div>
</div>

<!--/*-->
	</body>
</html>
<!--*/-->

<!--/* AllergiesAndIntolerances */-->
<!-- 
Allergen: AllergyIntolerance.code.text || AllergyIntolerance.code.coding[x].display
Status: AllergyIntolerance.clinicalStatus.coding[x].display
Category: AllergyIntolerance.code[x]
Reaction: AllergyIntolerance.reaction.manifestation.text || AllergyIntolerance.reaction.manifestation.coding[x].display
Severity: AllergyIntolerance.reaction.severity.code
Comments: AllergyIntolerance.note[x].text (display all notes separated by <br /> )
Onset: AllergyIntolerance.onsetDateTime
 -->
<div th:fragment="AllergiesAndIntolerances (entryList)" th:with="section='AllergiesAndIntolerances'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Allergen</th> 
				<th>Status</th>
				<th>Category</th>
				<th>Reaction</th>
				<th>Severity</th>
				<th>Comments</th>
				<th>Onset</th>
			</tr>
		</thead>
		<tbody>	
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td th:text="*{resource.code.text} ?: *{resource.code.coding.get(0).display}" th:if="*{resource.code.text}">Allergen</td>
					<td th:replace=":: concat_display (list=*{resource.code.coding})" th:unless="*{resource.code.text}">Allergen</td> 
					
					<!-- <td th:replace=":: concat_text (list=*{resource.clinicalStatus.coding})">Status</td> -->
					<td th:replace=":: concat (list=*{resource.category})" th:if="*{resource.category}">Category</td>
					
					<!-- <td th:text="*{resource.reaction.manifestation.text}" th:if="*{resource.reaction and resource.reaction.manifestation and resource.reaction.manifestation.text}">Reaction</td>
					<td th:replace=":: concat_display (list=*{resource.reaction.manifestation.coding})" th:if="*{resource.reaction and resource.reaction.manifestation and resource.reaction.manifestation.coding} ">Reaction</td> -->
					
					<!-- <td th:replace=":: concat_code (list=*{resource.reaction.severity})" th:if="*{resource.reaction}">Severity</td> -->
					<!-- <td th:replace=":: concat_text (list=*{resource.note})">Comments</td> -->
					<!-- <td th:text="*{resource.onsetDateTime}">Onset</td> -->
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<td th:fragment="concat (list)" th:each="item : ${list}" th:if="${list}" th:text="${item}">
	<br />
</td>

<td th:fragment="concat_display (list)" th:each="item : ${list}" th:if="${list}" th:text="${item.display}">
	<br />
</td>

<td th:fragment="concat_code (list)" th:each="item : ${list}" th:if="${list}" th:text="${item.code}">
	<br />
</td>

<!-- <td th:fragment="concat_text (list)" th:each="item : ${list}" th:if="${list}" th:text="${item.text} ? '' ">
	<br />
</td> -->

<!--/* MedicationSummary */-->
<!-- 
Table 1 MedicationRequest
Medication: MedicationRequest.medicationCodeableConcept.coding[x].display || Medication.code.coding.text || Medication.code.coding.code[x].display
Status: MedicationRequest.status.display
Route: MedicationRequest.dosageInstruction[x].route.coding[x].display
Sig: MedicationRequest.dosageInstruction[x].text (display all sigs separated by <br /> )
Comments: MedicationRequest.note[x].text (display all notes separated by <br /> )
Authored Date: MedicationRequest.DateTime
 
Table 2 MedicationStatement
Medication: MedicationStatement.medicationCodeableConcept.coding[x].display || Medication.code.coding.text || Medication.code.coding.code[x].display
Status: MedicationStatement.status.display
Route: MedicationStatement.dosage[x].route.coding[x].display
Sig: MedicationStatement.dosage[x].text (display all sigs separated by <br /> )
Date:  MedicationStatement.effectiveDateTime
 -->
<div th:fragment="MedicationSummary (entryList)" th:with="section='MedicationSummary'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Medication</th> 
				<th>Status</th>
				<th>Route</th>
				<th>Sig</th>
				<th>Comments</th>
				<th>Comments</th>
				<th>Authored Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>

	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Medication</th> 
				<th>Status</th>
				<th>Route</th>
				<th>Sig</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>

</div>

<!--/* ProblemList */-->
<!-- 
Medical Problem: Condition.code.text || Condition.code.coding[x].display
Status: Condition.clinicalStatus.coding[x].display
Comments: Condition.note[x].text (display all notes separated by <br /> )
Onset Date: Condition.onsetDateTime
 -->
<div th:fragment="ProblemList (entryList)" th:with="section='ProblemList'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Medical Problems</th> 
				<th>Status</th>
				<th>Comments</th>
				<th>Onset Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* Immunizations */-->
<!-- 
Immunization: Immunization.vaccineCode.text || Immunization.vaccineCode.coding[x].display
Status: Immunization.status.code
Dose Number: Immunization.doseNumberPositiveInt || Immunization.doseNumberString             
Manufacturer: Organization.name
Lot Number: Immunization.lotNumber
Comments: Immunization.note[x].text (display all notes separated by <br /> )
Date: Immunization.occurrenceDateTime
 -->
<div th:fragment="Immunizations (entryList)" th:with="section='Immunizations'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Immunization</th> 
				<th>Status</th>
				<th>Dose Number</th>
				<th>Manufacturer</th>
				<th>Lot Number</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* HistoryOfProcedures */-->
<!-- 
Procedure: Procedure.code.text || Procedure.code.coding[x].display
Comments: Procedure.note[x].text(display all notes separated by <br /> )
Date: Procedure.performedDateTime
 -->
<div th:fragment="HistoryOfProcedures (entryList)" th:with="section='HistoryOfProcedures'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Procedure</th> 
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* MedicalDevices */-->
<!-- 
Device: Device.type.coding.text || Device.type.coding[x].display
Status: DeviceUseStatement.status.code
Comments: DeviceUseStatement.note[x].text (display all notes separated by <br /> )
Date Recorded: DeviceUseStatement.recordedOn
 -->
<div th:fragment="MedicalDevices (entryList)" th:with="section='MedicalDevices'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Device</th> 
				<th>Status</th>
				<th>Comments</th>
				<th>Date Recorded</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* DiagnosticResults */-->
<!-- 
TABLE 1: Observation
Code: Observation.code.text || Observation.code.coding[x].display
Result: Observation.valueQuantity.value || Observation.valueCodeableConcept.coding[x].display || Observation.valueString
Unit: Observation.valueQuantity.unit
Interpretation: Observation.interpretation.text || Observation. interpretation.coding[x].display
Reference Range: Observation.referenceRange.low.value && “-“ && Observation.referenceRange.high.value
Comments: Observation.note[x].text (display all notes separated by <br /> )
Date: Observation.effectiveDateTime
 
TABLE 2: DiagnosticReport
Code: DiagnosticReport.code.text || DiagnosticReport.code.coding[x].display
Date: DiagnosticReport.effectiveDateTime
 -->
<div th:fragment="DiagnosticResults (entryList)" th:with="section='DiagnosticResults'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Code</th> 
				<th>Result</th>
				<th>Unit</th>
				<th>Interpretation</th>
				<th>Reference Range</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>

	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Code</th> 
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>


<!--/* VitalSigns */-->
<!-- 
Code: Observation.code.text || Observation.code.coding[x].display
Result: Observation.valueQuantity.value || Observation.valueCodeableConcept.coding[x].display || Observation.valueString
Unit: Observation.valueQuantity.unit
Interpretation: Observation.interpretation.text || Observation. interpretation.coding[x].display
Comments: Observation.note[x].text (display all notes separated by <br /> )
Date: Observation.effectiveDateTime
 -->
<div th:fragment="VitalSigns (entryList)" th:with="section='VitalSigns'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Code</th> 
				<th>Result</th>
				<th>Unit</th>
				<th>Interpretation</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* Pregnancy */-->
<!-- 
Code: Observation.code.text || Observation.code.coding[x].display
Result: Observation.valueQuantity.value || Observation.valueDateTime || Observation.valueCodeableConcept.coding[x].display || Observation.valueString
Comments: Observation.note[x].text (display all notes separated by <br /> )
Date: Observation.effectiveDateTime
 -->
<div th:fragment="Pregnancy (entryList)" th:with="section='Pregnancy'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Code</th> 
				<th>Result</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* SocialHistory */-->
<!-- 
Code: Observation.code.text || Observation.code.coding[x].display
Result: Observation.valueQuantity.value || Observation.valueCodeableConcept.coding[x].display || Observation.valueString
Unit: Observation.valueQuantity.unit
Comments: Observation.note[x].text (display all notes separated by <br /> )
Date: Observation.effectiveDateTime
 -->
<div th:fragment="SocialHistory (entryList)" th:with="section='SocialHistory'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Code</th> 
				<th>Result</th>
				<th>Unit</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* PastHistoryOfIllnesses */-->
<!-- 
Medical Problem: Condition.code.text || Condition.code.coding[x].display
Status: Condition.clinicalStatus.coding[x].display
Comments: Condition.note[x].text (display all notes separated by <br /> )
Onset Date: Condition.onsetDateTime
 -->
<div th:fragment="PastHistoryOfIllnesses (entryList)" th:with="section='PastHistoryOfIllnesses'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Medical Problems</th> 
				<th>Status</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* FunctionalStatus */-->
<!-- 
Assessment: ClinicalImpression.code.text ||  ClinicalImpression.code[x].display
Status: ClinicalImpression.status.code
Finding:  ClinicalImpression.summary
Comments: ClinicalImpression.note[x].text (display all notes separated by <br /> )
Date: ClinicalImpression.effectiveDateTime
 -->
<div th:fragment="FunctionalStatus (entryList)" th:with="section='FunctionalStatus'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Assessment</th> 
				<th>Status</th>
				<th>Finding</th>
				<th>Comments</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* PlanOfCare */-->
<!-- 
Activity: CarePlan.description
Intent: CarePlan.intent.code
Comments: CarePlan.dosage [x].text
Planned Start: CarePlan.period.start
Planned End: CarePlan.period.end
 -->
<div th:fragment="PlanOfCare (entryList)" th:with="section='PlanOfCare'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Activity</th> 
				<th>Intent</th> 
				<th>Comments</th> 
				<th>Planned Start</th>
				<th>Planned End</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>

<!--/* AdvanceDirectives */-->
<!-- 
Scope: Consent.scope.text || Consent.scope.coding[x].display
Status: Consent.status.code
Action Controlled: Consent.provision.action[x].coding[x].display (concatenate items separated by comma, e.g. x, y, z)
Date: Consent.dateTime
 -->
<div th:fragment="AdvanceDirectives (entryList)" th:with="section='AdvanceDirectives'">
	<table class="hapiPropertyTable">
		<thead>
			<tr>
				<th>Scope</th> 
				<th>Status</th> 
				<th>Action Controlled</th> 
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="entry,iter : ${entryList}" th:object="${entry}" th:unless='${#strings.equals(#strings.toString(entry.resource.resourceType), "Composition")}'>
				<tr th:id="${section} + '-' + ${iter.index}">
					<td>Type</td>
					<td th:text="${entry.resource.resourceType}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>
